@model RegistrationAndLogin.Models.ResetPasswordModel

@{ ViewBag.Title = "Reset Password"; }



@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
                <section class="common-section collegebol-predictor-section">
                    <div class="form-horizontal">
                        <h1 class="cmn-heading">Reset Password</h1>
                        <div class="offset-3 col-md-6">
                            <div class="signup-cnt">
                                <div class="text-danger">
                                    @ViewBag.Message
                                </div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.HiddenFor(model => model.ResetCode)

                                </div>
                                <div class="text-center">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="submit" value="Reset" class="cmn-btn" />
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <strong>@Html.ActionLink("Back to Login", "Login")</strong>
                                    </div>
                                </div>

                            </div>
                    </div>
                </section>}


